<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>루트 페이지</title>
</head>

<body>
  <p>루트 페이지</p>
  <a href="/login">로그인 페이지로 가기</a>
</body>

</html>