<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
    alert('들어와져서는 안 될 페이지');
  </script>
</head>

<body>
  <div>
    <a href="/">루트 페이지로 가기</a>
  </div>
</body>

</html>